.company-details {
   border-radius: 0.5rem;
   background-color: var(--black);
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.company-header {
   display: grid;
   grid-template-columns: 8rem 1fr;
}

.company-logo {
   width: 8rem;
   height: 8rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}

.company-info {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.company-info h3 {
   margin: 0;
}

.company-about,
.company-stats {
   padding: 0.3rem 0.9rem 0rem;
}

.company-about p {
   color: var(--grey-smoke);
}

.table {
   width: 100%;
   text-align: center;
   border-spacing: 1px;
   padding-bottom: 2rem;
}

.table thead th {
   background-color: var(--dark-grey);
   padding: 0.2rem;
   font-size: 15px;
}

.table tbody {
   color: var(--grey-smoke);
}
