.comment {
   background-color: var(--dark-grey);
   padding: 1.2rem;
   border-radius: 0.5rem;
}

.comment h3 {
   margin: 0;
}

.comment p {
   color: var(--grey-smoke);
   margin: 0 0 1rem;
}

.employee-info p {
   color: var(--light-grey);
}
