.hero-banner {
   display: flex;
   height: 38rem;
   background-image: url('../../assets/hero.webp');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: center;
   align-items: flex-start;
   padding: 6rem 2rem 2rem;
}

@media only screen and (min-width: 768px) {
   .hero-banner {
      height: 30rem;
   }
}
