.card {
   background-color: var(--black);
   padding: 2rem 1.5rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   justify-content: space-between;
   height: 100%;
   transition: 0.3s;
}

.card > * {
   margin: 0;
}

.card p {
   color: var(--grey-smoke);
}

.btn {
   width: 100%;
   margin-top: 1rem;
}

.btn:hover {
   background-color: var(--dark-grey);
   color: var(--light-grey);
}

.card h3 {
   transition: 0.3s;
}

.card:hover {
   transform: scale(1.02);
}
