.options {
   display: flex;
   justify-content: flex-start;
   gap: 1rem;
}

.options button {
   width: 50%;
}

.options button:hover {
   background-color: var(--dark-grey);
   color: #ffffff;
   transform: scale(1.03);
}
