.input-wrapper {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.btn {
   transition: 0.3s;
}

.btn:hover {
   background-color: var(--dark-grey);
   color: var(--light-grey);
}
