.company-content {
   display: grid;
   gap: 0.6rem;
   grid-template-columns: 1fr;
   align-items: flex-start;
}

.company-sections {
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
}

@media only screen and (min-width: 768px) {
   .company-content {
      grid-template-columns: 16rem 1fr;
   }
}

@media only screen and (min-width: 1024px) {
   .company-content {
      grid-template-columns: 26rem 1fr;
   }
}
