.form-wrapper {
   max-width: 768px;
   margin: auto;
   padding: 0.5rem;
}

.form-wrapper h3 {
   margin-top: 0;
}

.input {
   background-color: var(--light-grey);
}

.input-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 0.5rem;
   width: 100%;
}

.icon {
   max-width: 1.5rem;
}

.btn {
   width: 100%;
   background-color: var(--black);
   font-size: medium;
}

.btn:hover {
   background-color: var(--light-grey);
   color: var(--black);
}

@media only screen and (min-width: 768px) {
   .form-wrapper {
      padding: 0.5rem 2rem 2rem;
   }
}
