.header {
   background-color: var(--transparent-dark-grey);
   padding: 0.4rem 1.5rem;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   backdrop-filter: blur(8px);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 5;
}

.header-content-wrapper {
   width: 100%;
   max-width: 1240px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-logo-wrapper {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.header-logo {
   height: 2.5rem;
   width: 2.5rem;
   background-image: url('../../assets/grb.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.header-logo-wrapper h3 {
   margin: 0;
}

.header-actions-wrapper {
   display: flex;
   align-items: center;
}

.header-actions-desktop {
   display: none;
   gap: 0.8rem;
   justify-content: space-between;
}

.header-actions-mobile {
   position: relative;
}

.link {
   border-radius: 0.5rem;
   padding: 0.2rem 1.2rem;
   text-align: center;
}

.link-first {
   background-color: var(--dark-grey);
}

.link-second {
   background-color: var(--light-grey);
   color: var(--dark-grey);
}

.icon {
   cursor: pointer;
}

@media only screen and (min-width: 768px) {
   .header-actions-mobile {
      display: none;
   }

   .header-actions-desktop {
      display: flex;
   }
}
