.footer {
   background-color: var(--black);
   min-height: 30rem;
   margin-top: 4rem;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-content-section {
   padding: 1rem 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1.5rem;
}

.footer-logo {
   text-align: center;
}

.footer-logo-img {
   width: 10rem;
}

.footer-content {
   width: 100%;
   max-width: 1240px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr;
}

.social-networks {
   text-align: center;
}

.social-networks-wrapper {
   display: flex;
   gap: 1rem;
   justify-content: center;
}

.social-networks-wrapper svg {
   transition: 0.5s;
   cursor: pointer;
}

.social-networks-wrapper svg:hover {
   transform: scale(1.2);
}

.second,
.third {
   text-align: center;
}

.links-wrapper {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.links-wrapper a {
   width: fit-content;
   margin: auto;
}

@media only screen and (min-width: 768px) {
   .footer-content {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
   }
   .third {
      text-align: right;
   }

   .footer-logo {
      text-align: left;
   }

   .social-networks {
      text-align: left;
   }

   .social-networks-wrapper {
      justify-content: flex-start;
   }
}

@media only screen and (min-width: 1240px) {
   .footer-content {
      gap: 2.5rem;
   }
}
