.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100%;
   z-index: 20;
   background-color: rgba(0, 0, 0, 0.75);
   display: flex;
   justify-content: center;
   overflow-y: auto;
   padding: 1rem 0;
}

.modal {
   width: 90%;
   background-color: var(--black);
   padding: 1.5rem;
   border-radius: 0.5rem;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   z-index: 30;
   animation: slide-down 300ms ease-out forwards;
   height: fit-content;
}

@media (min-width: 768px) {
   .modal {
      margin: 3rem auto;
      width: 50rem;
   }
}

@keyframes slide-down {
   from {
      opacity: 0;
      transform: translateY(-3rem);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
